@keyframes wave-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
.animate-wave-bounce {
  animation: wave-bounce 2s ease-in-out infinite;
}
