@import "tailwindcss";

@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@keyframes moveLeft {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes moveRight {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.animate-dhakiLeft {
    animation: moveLeft 1s infinite ease-in-out;
}

.animate-dhakiRight {
    animation: moveRight 1s infinite ease-in-out;
}