@import "tailwindcss";


@font-face {
	font-family: "Aprillia";
	src: url("/assets/fonts/Aprillia Script_TEST.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--font-aprillia: "Aprillia", sans-serif;
		--breakpoint-laptop: 1150px;
		--breakpoint-mobile: 300px;
		--breakpoint-tablet: 700px;
		--breakpoint-ipad: 1000px;
}

body {
	
	overflow-y: scroll;
	scrollbar-width: none; 
  }
  
  body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge */
  }

  ::-webkit-scrollbar {
	display: none;     
  }